<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  
  <!-- 加载外部配置属性,resource: 指的是resource目录 -->
  <properties resource="jdbc.properties"></properties>
  
  <settings>
  	<!-- 开启驼峰自动映射 -->
  	<setting name="mapUnderscoreToCamelCase" value="true"/>
  </settings>
  
  <!-- 为类起别名,简化书写 -->
  <typeAliases>
  	<!-- 给User类起一个别名User,以后User类就代表了 cn.itcast.mybatis.pojo.User
  		type: 类的全名称
  		alias: 累的别名
  	 -->
  	<typeAlias type="cn.itcast.mybatis.pojo.User" alias="User"/>
  	
  	<!-- 指定一个包,MyBatis会自动扫描该包下的所有的类 ,并且给这些类设置默认的别名: 就是累的名字-->
  	<package name="cn.itcast.mybatis.pojo"/>
  	
  </typeAliases>
  
  <!-- 运行环境,可以配置多个,default: 默认指向其中的一个叫development的环境 -->
  <environments default="development">
  
  	<!-- 真正的运行环境,id: 这个运行环境的唯一标识 -->
  	<environment id="development">
  		<transactionManager type="JDBC"/>
  		<dataSource type="POOLED">
  			<property name="driver" value="${jdbc.driver}"/>
  			<property name="url" value="${jdbc.url}"/>
  			<property name="username" value="${jdbc.username}"/>
  			<property name="password" value="${jdbc.password}"/>
  		</dataSource>
  	</environment>
  	
  	<!-- 多配置一个环境 -->
  	<environment id="test">
  		<transactionManager type="JDBC"/>
  		<dataSource type="POOLED">
  			<property name="driver" value="${jdbc.driver}"/>
  			<property name="url" value="${jdbc.url}"/>
  			<property name="username" value="${jdbc.username}"/>
  			<property name="password" value="${jdbc.password}"/>
  		</dataSource>
  	</environment>
  	
  </environments>
  
  <!-- 指定所有的Mapper映射文件 -->
  <mappers>
  	<!-- 方式1 resource: 在项目的resources的目录查找 -->
  	<mapper resource="UserMapper.xml" />
  	
  	<!-- 方式2: 使用url地址,此方法几乎不用 -->
  	
  	<!-- 方式3: 使用接口的全路径 名称-->
  	<!-- <mapper class="cn.itcast.mybatis.mapper.UserMapper"/> -->
  	
  	<!-- 方式4: 配置Mapper接口所在的包的名称,MyBatis会自动扫描接口及接口对应的Mapper文件 -->
  	<!-- <package name="cn.itcast.mybatis.mapper"/> -->
  	
  </mappers>
</configuration>